*{
    padding: 0;
    margin: 0;
}
.banner{
    display: inline-block;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8%;

}
.ban img{
    width: 50%;
    height: auto;
    margin-bottom: 5%;
}
.ban p{
    background-color: rgb(24, 24, 24);
    color: whitesmoke;
    font-size: 25px;
    padding: 5px 0 5px 0;
    margin-top: 4%;
}

.templetes{
    width: 30%;
    display: inline-flex;
    flex-direction: row;
    margin:2.5% 0 0 3% ;  
 }

  @media only screen and (max-width: 480px) {
    .tab{
        margin-right: 0;
    }
    .tab i{
        font-size: 20px;
        width: 100%;
    }
    .logo-cont{
        width: 20%;
    }
    .categories ul li{
        display: inline;
        margin-right: 25px;
    }
    .categories li{
        font-size: 17px;
    }
    .banner{
        width: 100%;
        margin-top: 22%;
    }
    .banner p{
        font-size: 20px;
    }
    /* li{
        font-size: 23px;
    } */
    .templetes{
        width: 80%;
        margin:5% 0 0 10%;
    }
  }
  @media only screen and (min-width:480px) and (max-width:768px){
      /* .templetes{
          margin: 30px auto 0 auto;
      } */
      .banner{
        width: 100%;
        margin-top: 10px;
    }
    .banner p{
        font-size: 20px;
    }
  }