.card-cont{
  width: 100%;
  height: auto;
  border-radius: 7px;
  background-color: whitesmoke;
  /* background-color: rgb(199, 198, 198); */
  box-shadow: 3px 2px 9px gray;
}
.image_div{
  width: 100%;
  border-radius: 7px;
  /* box-shadow: 2px 2px 15px grey; */
}
.image_div .img{
  width: 100%;
  height: 170px;
  border-radius: 7px;
}
.content h4{
  margin-left: 3%;
  font-size: 18px;
}
.content{
  width: 100%;
  text-align: left;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-all;
}
.icon{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 30px;
  margin: 1% 0 0 0;
  overflow: hidden;
  border-radius: 4px;
  bottom: 0px;
  background-color: black;
}
.icon .pre{
  width: 20%;
  margin: 3% 13% 3% 13%;
}
.icon .pre i{
  color: rgb(117, 117, 117);
}
.icon .pre i:hover{
  color:whitesmoke; 
} 
.content span{
  width: 100%;
}
.disc{
  width: 100%;
  padding: 0 10px 0 10px;
  font-size: 13px;
  height: 60px;
}
.stars{
  font-size: 15px;
  margin:1% 0 0 3%;
}
.about{
  display: flex;
  flex-direction: row;
  margin:3% 0 3% 0;
}
.about span{
  font-size: 18px;
  margin: 0 10px 0 10px;
  border-radius: 7px;
  padding: 10px;
}
.sale{
  text-align: left;
}
.price{
  text-align: right;
}
  @media only screen and (max-width: 600px) {
    .card-cont{
      width: 90%;
      margin: 0 5% 0 5%;
    }
    .image_div .img{
      height: 180px;
    }
  }