/* .footer{
    padding: 20px 0;
    background-color: rgb(24, 24, 24);
}
.tabs{
    padding: 20px;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.column ul{
    background-color: blue;
} */
.footer{
    margin-top: 20px;
    height: auto;
    background-color: rgb(24, 24, 24);
}
.tabs{
    /* color: white; */
    display: grid;
    grid-template-columns: 170px 170px 170px 210px auto;
    padding:20px;
}
.columm{
    display:grid;
    grid-template-rows: 10px 10px 10px 10px ; 
}
.tabs ul li{
    color:rgb(165, 164, 164);
    text-align: left;
    font-size: 13px;
    list-style: none;
}
.row i{
    margin: 30px 20px;
    font-size: 40px;
    color:rgb(165, 164, 164);
}
.tabs ul li:hover{
    color: white;
}
.row i:hover{
    color: white;
}
.line{
    width: 70%;
    height: 1px;
    background-color: rgb(141, 138, 138);
}
.end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.whitelogo{
    width: 12%;
    height: auto;
}
.copyright{
    font-size: 10px;
    color: white;
    margin-top: -12px;
}

@media only screen and (max-width: 480px) {
    .tabs{
        display: inline-block;
    }
    .row{
        display: block;
        width: 50%;
    }
    .tabs ul li{
       text-align: center;
       margin-left: -20px;
    }
    .row i{
        font-size: 30px;
    }
    #ico{   
        width: 70%;
    }
    .whitelogo{
        width: 40%;
    }
}
@media only screen and (min-width:480px) and (max-width:768px){
    .tabs{
        display: inline-block;
    }
    .row{
        display: block;
        width: 50%;
    }
    .tabs ul li{
       text-align: center;
       margin-left: -20px;
       font-size: 15px;
    }
    .row i{
        font-size: 30px;
    }
    #ico{   
        width: 70%;
    }
    .whitelogo{
        width: 30%;
    }
}
