.temp-detail{
    width: 100%;
    height: auto;
    /* display: grid;
    grid-template-columns: 580px auto; */
    border-radius: 3px;
    margin:20px auto 0 auto;
}
.detail{
    width: 60%;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(253, 252, 252);
    border-radius: 3px;
    display: block;
    box-shadow: 4px 7px 8px grey ;
}
.name{
    float: left;
    text-align: center;
    margin: 10px 0 0 14px;
    color: rgb(196, 195, 195);
}
.temp-name  {  
    display:inline;
    width: 100% ;
    height: 60px;
}
.nest{
    width: 100%;
    height: 60px;
    border-radius: 3px;
    background-color:rgb(39, 39, 39);
    font-weight: 1px;
}
.buton{
    float: right;
    margin-right: 5px;
}
.bt{
    color: rgb(22, 22, 22);
    background-color: rgb(255, 254, 254);
    margin: 15px 15px 0 0;
    padding: 5px 5px 5px 5px;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s;
}
.bt:hover{
    color: rgb(255, 254, 254);
    background-color: rgb(41, 41, 41);
}
.temp-img{
    width: 80%;
    height: auto;
    margin-top: 20px;
}
.description{
    width: 90%;
    padding-top: 10px; 
    display: block;
}
.temp-desc{
    font-size: 10px;
    margin-left: 20px;
    text-align: justify;
}
.techs{
    display: inline;
    width: 90%;
    height: 30px;
    margin:10px 0 15px 30px;
    float: left;
}
.technology{
    margin-left:20px ;
    border-radius: 4px;
    border: none;
    background-color: rgb(175, 174, 174);
    padding:3px 8px 3px 8px;
}
.technology:hover{
    color: white;
    background-color: rgb(48, 47, 47);
}
.download{
    border: none;
    border-radius: 2px;
    font-size: 15px;
    padding:5px 10px 5px 10px;
    margin-top: 10px;
    background-color: rgb(236, 124, 96);
    color: white;
}
.download:hover{
    background-color:rgb(252, 120, 87) ;
    
}
@media only screen and (max-width: 500px) {
    .temp-detail{
        width: 100%;
        height: auto;
        display: block;
    }
    .detail{
        width: 90%;
        height: 660px;
    }
    .bt{
        margin-right: 10px;
        font-size: 10px;
    }
    .name{
        font-size: 20px;
        margin: 15px 0 0 15px;
    }
    .technology{
        font-size: 12px;
        margin-left: 10px;
    }
    .download{
        font-size: 10px;
    }
}