body{
    background-color: rgb(216, 214, 214);
}
.log{
    margin: 9% auto 0 auto;
    width: 40%;
}
@media only screen and (max-width: 500px) {
    .log{
        width: 70%;
        margin-top: 20%;
    }
}