.analysis{
    width: 80%;
    height: 100%;
    margin-left: 20%;
    overflow: hidden;
}
.row{
    margin-top: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.stats-card{
    margin: 2%;
    width: 20%;
    height: 200px;
    border-radius: 3px;
    /* box-shadow: 1px 1px 10px rgb(46, 46, 46); */
    text-align: center;
}
.circle svg circle{
    fill: none;
    stroke: rgb(26, 27, 27);
    stroke-width: 8px;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: animate 2s forwards;
}
.stat-n{
    text-align: center;
    font-size: 19px;
}
.stats{
    font-size: 30px;
    text-align: center;
    margin: -105px 0 50px 0;
}
.st{
    font-size:30px;
    margin-left: 1%;
}
.creator-table{
    width: 90%;
}
@media only screen and (max-width: 500px) {
    .row{
        display: flex;
        flex-direction: column;
    }
    .analysis{
        width: 100%;
        height: 100%;
        margin-left: 0%;
        overflow: hidden;
    }
    .stats-card{
        width: 100%;
        margin-top: 10px;
    }
    .circle{
        margin-left: 33.33%;
    }
    .stats{
        margin-left: 20px;
    }
    .stat-n{
        width: 100%;
        font-size: 25px;
        margin-left: 10px;
    }
    .creator-table{
        width: 90%;
        margin: 0 auto 0 auto;
    }
}
@keyframes animate {
    100%{
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dashoffset: 500;
    }
    0%{
        stroke-dashoffset: 0;
    }
    
}