.buyer-dashboard{
    width: 100%;
    display: inline-block;                                                                                              
    height: auto;
}
.profile p{
    color: whitesmoke;
    font-size: 20px;
}
.pic{
    margin: 10px 0 10px 0;
    width: 60%;
    height: auto;
    overflow: hidden;
    border-radius:50%;
    border: 1px rgb(100, 99, 99) solid;
}
.side-bar{
    width: 18%;
    float: left;
    position: absolute;
    background-color:rgb(24, 24, 24) ;
    height: 100%;
}
.side-bar .info{
    width: auto;
    /* border: 5px orangered solid; */
}
.side-bar .info p{
    margin: 10px 0 10px 12px;
    font-size: 13px;
    color: whitesmoke;
    text-align: left;
    /* border: 1px olive solid; */
}
.side-bar .bar{
    width: 100%;
    height: 1px;
    background-color: whitesmoke;
}
.check{
    display: none;
}
@media only screen and (max-width: 500px) {
    .side-bar{
        width: 100%;
        position: relative;
        z-index: 2;
    }
    .pic{
        width: 30%;
    }
    .side-bar .info p{
        text-align: center;
    }
    .check:checked~.info{
        display: none;
    }
}