.change-password{
    width: 72%;
    height: auto;
    margin-left: 18%;
}
.change{
    width: 50%;
    margin:13% auto 0 auto;
    /* border: black 1px solid; */
}
@media only screen and (max-width: 500px) {
    .change{
        width: 100%;
    }
}
