.my-like{
    width: 72%;
    height: auto;
    margin:2.5% auto 0 auto;

}
.lk-card{ 
    margin-top: 2%;
    padding:0 0 3% 0;
    height: auto;
    width: 100%;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 2px;
    box-shadow:2px 2px 15px rgb(165, 164, 164);
}
.lk-img{
    width: 20%;
    margin-left: 2%; 
}
.lk-img img{
    width: 100%;
    height: 100%;
    border-radius:3px ;
}
.lk-date{
    width: 100%;
    height: 20px;
    text-align: right;
    /* background-color: rgb(163, 162, 162); */
}
.lk-date p{
    margin:1% 2%;
    font-size: 13px;
}
.lk-cont{
    display: flex;
    flex-direction: row;
}
.lk-details{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    width: 60%;
}
.lk-name{
    font-size: 20px;
}
.lk-desc{
    margin-top: 1.5%;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow:clip;
}
.lk-id{
    font-size: 12px;
    margin-top: 1.5%;
}
.lk-price{
    width: 10%;
    margin-top: 5%;
    margin-left: 8%;
    font-size: 25px;
}
@media only screen and (max-width: 500px) {
    .my-like{
        width: 90%;
        height: auto;
        margin:15% 0% 5% 0%;
    } 
    .lk-date p{
        font-size:10px ;
    }
    .lk-price{
        font-size: 19px;
        margin-left: 5%;
        margin-top: 20%;
    }
    .lk-name{
        font-size: 15px;
        /* border: 1px solid black; */
        margin-left: 27%;
    }
    .lk-desc{
        font-size: 9px;
        /* border:1px solid black; */
        width: 98%;
        margin-left: 27%;
        text-align: justify;
    }
    .lk-id{
        font-size: 10px;
        margin-left: 27%;
    }
    .lk-img img{
        width: 170%;
    }
}